<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} - DeeSupportClinic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <style>
        body {
            background-color: #1e1f20;
            color: #dbd8d8;
        }

        .card {
            height: 100%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        .form-control {
            background-color: #e1e4e8;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">DeeSupportClinic</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('profile', user_id=session['user_id']) }}">My Profile</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{{ url_for('logout') }}" method="POST">
                <a class="nav-link" href="{{ url_for('profile', user_id=session['user_id']) }}">{{session['username']}} </a>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
            </form>
        </div>
    </nav>
    <div class="container">
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <span class="text-sm text-danger">{{ message }}</span> <br>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>
        {% block content %} {% endblock %}
    </div>
</body>

</html>